from settings import *

# The settings for the zamboni database. This could be a read only slave.
# SERVICES_DATABASE = {
#    'NAME': 'zamboni',
#    'USER': '',
#    'PASSWORD': '',
#    'HOST': '',
#}

# The URL that update check will return for docs. See the other URL variables
# for other things that script might return.
SITE_URL = ''
